<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<title>BeerHere</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <img th:src="@{/images/passa.jpg}">
	<h1>Detalhe Bar</h1>
	<h3><a href="/bares" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Bares</a></h3>
	<div th:each="bar: ${bar}" class="container">
		<div class="row">
			<p><span th:text="${bar.nome}"></span></p>
			<p><span th:text="${bar.local}"></span></p>
			<p><span th:text="${bar.telefone}"></span></p>
			<p><span th:text="${bar.descricao}"></span></p>		
		</div>
	
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>