<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.slider').slider();
  });

</script>		
		
<head>

	<title>BeerHere</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	
</head>
<body>
	
	<header>
	<!-- Barra de tarefas -->
	
		<nav class=" #424242 grey darken-3">
		    <div class="nav-wrapper">
		      
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a href="/tipos">Cervejas e Tipos</a></li>
		        <li><a href="/bares">Bares de sua preferencia</a></li>
		        <li><a href="collapsible.html">JavaScript</a></li>
		        <li><a href="#!" class="brand-logo center  ">BEER HERE </a></li>
		      </ul>
		    </div>
	  </nav>
	</header>
	
	
	<style>
		#imagem {
		width: 1400px;
		height 700px;
		
		}
		
		#texto {
		position: center;
		margin-top: -60px;
		color: #FFFFFF;
		align:center;
		}
	</style>

</head>

<body>

		
   		<div class="carousel-item">
  		<img id="imagem" src="/images/pic01.jpg" alt="/images/pic02.jpg"/>
  		<div class="carousel-caption d-none d-md-block">
    	<h1>Bem vindo ao Beer Heer! </h1>
    	<p>CACHORRO IDIOTAAAAAAA</p>
    	
  		</div>
		</div>

</body>



			<!-- imagem principal -->
				
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   		
   		 		   		
   		
	<br>
	<br>
	
	
		<!-- noticia -->
		
			  <div class="row"  align="center">
             
          
		<h2>Edições com outros lúpulos serão lançadas futuramente pela Votus, cervejaria localizada em Diadema – SP</h2>
				
				
				<p class="flow-text">Mesma receita, outro lúpulo. A mais recente versão da cerveja nº 007 Hop Session Ale, da Cervejaria Votus – localizada em Diadema – SP -, trará como protagonista um ingrediente especial, proporcionando uma experiência diferente para os amantes da cerveja artesanal: o lúpulo Centennial. Em sua primeira edição, lançada no ano passado, o rótulo trazia como único lúpulo o Amarillo. A novidade será lançada no dia 10 de maio.
“Nossa ideia com a Votus  Nº 007 é mostrar para o público as diferenças de sabores e aromas que cada lúpulo imprime na cerveja. Depois de lançar a versão com o Centennial, pensaremos no próximo lúpulo que dará identidade a  nº 007″, afirma Flávio Athayde, responsável pela Cervejaria Votus.
Nesta edição, o rótulo traz aromas florais e de frutas cítricas, com o corpo bem leve, um amargor pontual e o final seco que chama o próximo gole. O teor alcoólico é de 3,5%.
A cerveja é inspirada no popular estilo americano ISA (India Session Ale) e revela a potência de aromas e sabores do lúpulo, mas com a leveza e refrescância que o clima brasileiro pede.
Quem ficou com muita sede e quer experimentar a novidade, a Choperia São Paulo disponibilizara o rótulo a partir do dia 10.
Ficha Técnica:
Votus Nº 007 – Centennial
Hop Session Ale
3,5% ABV
32 IBU
				</p>
	  </div>
		
	<br>
	<br>


 <footer class="page-footer  #424242 grey darken-3 ">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12 ">
                <h5 class="white-text">Feito por quem Gosta de Cerveja</h5>
                <p class="grey-text text-lighten-4">Rafael Martins<br>Marcelo Dose<br>Guilherme Bombonato</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 	
            </div>
          </div>
        </footer>


</html>	